body {
  background-color: #455a64;
  font-family: Overpass, Arial, Helvetica, sans-serif;
  color : #eeeeee;
}

iframe {
  width: 500px;
}

img {
  border: solid #e8eaf6;
  border-radius: 10px;
  max-width:500px;
  margin-top:8px;
  margin-bottom:8px;
}

li {
  color: #333333;
}

nav {
  width: max;
  margin: none;
  margin-bottom: 20px;
  background-color: #263238;
}

#logo {
  max-height:50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 7px;
  height: 45px;
  transition: .5s ease;
  border:none;
}

#logo:hover {
  height:50px;
  background-color: #7482d6;
  border: 1px solid #7482d6;
  border-radius: 10px;
}

#title {
  color: #ffffff;
  font-size: 40px;
  text-shadow: -2px 0 #4fc3f7, 0 2px #4fc3f7, 2px 0 #4fc3f7, 0 -2px #4fc3f7;
}

#nav-option {
  margin-right: 15px;
}

#p3 {
  margin-left: 100px;
  margin-right: 100px;
}

.centerImages {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.tab {
  font-family: Overpass, Arial, Helvetica, sans-serif;
  color : #111111;
}

.nav-wrapper {
  color: #000000;
  padding-bottom: 20px;
}

.sortOfCards {
  border: solid #e8eaf6;
  border-radius: 10px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.myRowes {
  color : #eeeeee;
}

.card-tabs, .tab{
  font-family: Overpass, Arial, Helvetica, sans-serif;
  color : #111111;
}

/* colors for tabs*/
.tabs .tab a{
  font-family: Overpass, Arial, Helvetica, sans-serif;
  color : #111111;
  } 

.tabs .tab a:hover {
  color : #111111;
}

/*Color of underline*/
.tabs .indicator {
  background-color:#8c9eff;
} 